{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <header class="intro">
        <div class="intro-body">
            <br> <br>
            <h1>ARE YOU SURE YOU WANT TO DELETE THIS CAPSULE!</h1>
            <form class="indigo" method="POST" action="">
                {% csrf_token %}<input type="submit" value="DELETE">
            </form>


        </div>
    </header>
    <!-- Custom Capsule JavaScript -->
    {% load staticfiles %}
    <!-- jQuery -->
    <script src="{% static "core/js/jquery.js" %}"></script>
    <script src="{% static "core/js/create_capsule.js" %}"></script>
{% endblock %}