{% extends "base.html" %}
{% block content %}
    <header class="intro">
        <div class="intro-body">
            <h1>Create Your Capsule</h1>
            {% if invalid %}
                <p>Error Message Here</p>
            {% endif %}
            {% if form.errors %}
                {{ form.errors }} <!-- display the form errors if they exist -->
            {% endif %}
            <form id='form' class="form-horizontal indigo form-group-sm " action="" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form|crispy }}
                <input class="submit" type="submit" value="Submit">
            </form>
        </div>
    </header>
{% endblock %}

