
{% block content %}
    <section id="register" class="content-section text-center">
        {% if form.errors %}
            {{ form.errors }} <!-- display the form errors if they exist -->
        {% endif %}
        <form id="user_form" method="post" action=""
              enctype="multipart/form-data">
            {% csrf_token %}


            {{ user_form.as_p }}


            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register"/>
        </form>

    </section>

{% endblock %}